<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shortner : </title>
</head>
<body>
    <h1>Login Form : </h1>
    <form action="/login" method="post">
        <label>email : </label>
        <input type="email" placeholder="enteer your email" name="email">
        <label>password : </label>
        <input type="password" placeholder="enteer your password" name="password">
        <button type="submit">SignUp</button>
    </form>
</body>
</html>