<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Url Shortner</title>
</head>
<body>
    <h1>Sign-Up</h1>

    <form action="/signup" method="post">
        <label>Full Name : </label>
        <input type="text" placeholder="enteer your name" name="name">
        <label>email : </label>
        <input type="email" placeholder="enteer your email" name="email">
        <label>password : </label>
        <input type="password" placeholder="enteer your password" name="password">
        <button type="submit">SignUp</button>
    </form>
</body>
</html>